
    body {
        font-family: "Cascadia Code SemiBold", monospace;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    #text {
        color: darkgray;
        font-size: 24px;
        margin-bottom: 20px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .button {
        margin: 0 10px;
        padding: 10px 20px;
        color: white;
        background-color: darkgray;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }
    
    #discord-button {
    background-color: #24292E;
    text-decoration: none;
    transition: transform 0.3s;
}

#discord-button:hover {
    background-color: wheat; /* Utilisez le nom de couleur "wheat" */
    transform: scale(1.1);
}

#github-button {
    background-color: #24292E;
    text-decoration: none;
    transition: transform 0.3s;
}

#github-button:hover {
    background-color: wheat; /* Utilisez le nom de couleur "wheat" */
    transform: scale(1.1);
}


    
    
    #logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
